@color: #ccc;
@strong: #fff;
@bg: #000;
@boardColor: #444;
@selectionColor: #888;
@aColor: #04f;
@bColor: #f00;
@link: #0f0;
@aDark: darken(@aColor, 25%);
@bDark: darken(@bColor, 25%);

* {
  box-sizing: border-box;
}

a,
a:visited {
  cursor: pointer;
  color: @link;
  text-decoration: none;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  user-select: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @color;
  background-color: @bg;
}

p {
  margin: 0.5em;
}

h1 {
  font-size: 120%;
  font-weight: normal;
  color: @strong;
}

button {
  font-size: 100%;
  background-color: @bg;
  color: @strong;
  border: none;
  border-bottom: 1px solid @boardColor;
  border-radius: .25em;
  padding: 0.5em 1em;
  margin: 0.5em;

  &:hover {
    background-color: @boardColor;
  }
}

.board {
  touch-action: none;
}

.board.full {
  width: min(100%, 80vh); // replaces height:100% on body to leave room for text, not great
  max-width: 150mm;
}

.board.half {
  width: 50%;
}

@media (pointer: coarse) {
  .board.full {
    max-width: 200mm;
  }
}

.board line.bg {
  stroke-width: 0.02;
  stroke: @boardColor;
  stroke-dasharray: 0.02;
}

.board circle.bg {
  fill: @boardColor;
}

.board circle.bg.release.A {
  fill: @aColor;
}

.board circle.bg.release.B {
  fill: @bColor;
}

.board line.last {
  stroke-width: 0.05;
}

.board line.last.A {
  stroke: @aDark;
}

.board line.last.B {
  stroke: @bDark;
}

.board circle.selected {
  fill: @selectionColor;
}

.board circle.last.A {
  fill: @aDark;
}

.board circle.last.B {
  fill: @bDark;
}

.board circle.target.A {
  fill: fade(@aColor, 50%);
}

.board circle.target.B {
  fill: fade(@bColor, 50%);
}

.board .piece.A {
  fill: @aColor;
}

.board .piece.B {
  fill: @bColor;
}

.board .piece.dummy {
  pointer-events: none;
}

.board line.arrow {
  stroke-width: 0.1;
  stroke-linecap: round;
}

.board line.arrow.A {
  stroke: shade(@aColor, 50%);
}

.board line.arrow.B {
  stroke: shade(@bColor, 50%);
}

.board #arrowheadA {
  fill: shade(@aColor, 50%);
}

.board #arrowheadB {
  fill: shade(@bColor, 50%);
}

p.banner {
  width: 100%;
  margin: 0;
  background-color: #600;
}
