@color: #ddd;
@bg: #000;
@boardColor: #404040;
@selectionColor: #80808080;
@aColor: #0050d0;
@bColor: #ff0000;
@link: #00ff00;
@aDark: darken(@aColor, 25%);
@bDark: darken(@bColor, 25%);

a, a:visited {
  color: @link;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// *:not(svg *) { outline: 1px dashed fade(red, 50%); }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @color;
  background-color: @bg;
  text-align: center;
  position: relative;

  .top,.left,.right,.bottom {
    position: absolute;
    margin: 2em;
  }

  .top {
    top: 0;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .bottom {
    bottom: 0;
  }
}

*:not(svg *) { 
  // outline: 1px dashed fade(red, 50%);
}

@max-width: 100vmin;
@aspect: 1;

html {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  max-width: min(@max-width, 200mm);
  width: 100%;
  margin: 100px;
  max-height: 100vh;
}

.game {
  margin-top: 5em;
  margin-bottom: 5em;
}

.board {
  width: min(100%, 100vh);
  max-width: 150mm;
  touch-action: none;
}

button {
  background-color: black;
  color: white;
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 1em 2em;
  margin: 0.5em;
  &:hover {
    background-color: fade(white, 15%);
  }
}

@media (pointer: coarse) {
  .board {
    max-width: 200mm;
  }
}

.board line.bg {
  stroke-width: .02;
  stroke: @boardColor;
  stroke-dasharray: .02;
}

.board circle.bg {
  fill: @boardColor;
}

.board circle.bg.release.A {
  fill: @aColor;
}

.board circle.bg.release.B {
  fill: @bColor;
}

.board line.last {
  stroke-width: .05;
}

.board line.last.A {
  stroke: @aDark;
}

.board line.last.B {
  stroke: @bDark;
}

.board circle.selected {
  fill: @selectionColor;
}

.board circle.last.A {
  fill: @aDark;
}

.board circle.last.B {
  fill: @bDark;
}

.board circle.target.A {
  fill: fade(@aColor, 50%);
}

.board circle.target.B {
  fill: fade(@bColor, 50%);
}

.board .piece.A {
  fill: @aColor;
}

.board .piece.B {
  fill: @bColor;
}

.board .piece.dummy {
  pointer-events: none;
}
