* {
    user-select: none;
}

body {
    margin: 0;
    padding: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #eee;
    background-color: #000;
    text-align: center;
}

.board {
    width: min(min(100%, 100vw), 200mm);
}

.board line {
    stroke-width: .1;
}

.board line.last {
    stroke-width: .15;
}

.board .piece.A {
    fill: #0000ff;
}

.board .piece.B {
    fill: #ff0000;
}

.board .piece.A.dragging {
    fill: #2020ff;
}

.board .piece.B.dragging {
    fill: #ff2020;
}

.board .piece.dummy {
    pointer-events: none;
}
